<!DOCTYPE html>
    <%- include('../partials/head'); %> 
    <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}) %> 
        <main>
            <div class="jumbotron">
                <h1>Sobre Mim</h1>
                <p>Ou eu sou Eduardo Machado aluno de Desenvolvimento Web!</p>
            </div>
        </main>

        <%- include('../partials/footer') %> 
    </body>
</html>